h2{
    text-decoration: underline;
}
a{
color: orange;
}

.MMM{
  background-color:yellow;
  text-decoration: underline;
  color:black;
}


dl{
    text-decoration: underline;

  
}


.BBB{
    color: red;
}

 .CCC{
    color: blue;
 }

 .DDD{
    color: blue;
    font-weight: 700;
 }

.NNN{
    list-style-type: none;
}